* {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  outline: none;
  font-weight: 400;
}
.body {
  line-height: 1.5;
  font-size: 16px;
}
/* container */
.container {
  width: 100%;
  max-width: 1280px;
  display: flex;
}
.side-main {
  display: flex;
  width: 100%;
  height: 100%;
}
/* sidebar */

.sidebar {
  width: 20%;
  align-items: center;
  padding: 20px;
  border-right: 1px solid #dddddd;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #ffff;
  display: flex;
  flex-direction: column;
  transition: all 0.4s ease;
  z-index: 999;
}
.side-avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.avatar {
  overflow: hidden;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  overflow: hidden;
  margin-bottom: 20px;
}
.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.logo {
  font-size: x-large;
  width: 100%;
  text-align: center;
}
.logo a span {
  font-family: "Dancing script", cursive;
}
.bars-menu {
  display: none;
}
.side-menu {
  margin-top: 100px;
}
.side-menu li {
  margin-bottom: 30px;
  display: block;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee6e6;
}
.side-menu li a {
  padding: 10px;
  font-size: 15px;
  font-weight: 600;
  display: block;
  color: #413e3e;
}
.side-menu li a i {
  margin-right: 20px;
}
.side-menu li a:hover {
  color: #ee3519;
}
.main {
  width: 80%;
  position: absolute;
  top: 0px;
  left: 20%;
}
/* main-content */
.main-content {
  width: 100%;
  padding: 50px 100px;
  background-color: #1d5d9b;
}
.home {
  margin-bottom: 50px;
  padding: 20px;
  border-radius: 30px;
  color: #ffff;
}
.home-title {
  display: flex;
}
.home-image {
  width: 50%;
  height: 300px;
  overflow: hidden;
  border-radius: 30px;
}
.home-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-content {
  width: 100%;
}
.home-content h3 {
  font-size: 28px;
  margin: 15px 0;
}
.home-content span {
  font-size: 40px;
  font-weight: 600;
  color: #0f0f0f;
  font-family: "Dancing Script", cursive;
}
.home-content p {
  font-weight: lighter;
  line-height: 1.5;
  font-size: large;
  transition: all 0.2s ease-in-out;
  padding: 10px;
}
.paragraph {
  max-height: 85px;
  overflow: hidden;
}
#dot {
  padding: 10px;
}
.home a {
  display: inline-block;
  padding: 10px 30px;
  background-color: #f05941;
  border-radius: 50px;
  color: #ffff;
}
.home-content a:hover {
  background-color: #ee3519;
}

/* about */

.about {
  display: flex;
  margin-bottom: 50px;
  flex-direction: column;
}

/* sơ yếu lý lịch */
.information {
  margin-bottom: 50px;
  line-height: 1.5;
  color: #ffff;
}
.information-title {
  margin-bottom: 10px;
  padding: 10px;
}
.information-title h2 {
  font-weight: 600;
}
.information-title p {
  font-weight: 300;
  font-size: large;
}
.personal-information {
  display: flex;
  padding: 20px;
  /* background-color: #ffff; */
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 9px -1px rgba(0, 0, 0, 0.62);
  box-shadow: 0px 0px 9px -1px rgba(0, 0, 0, 0.62);
}
.information-col-3,
.information-col-2,
.information-col-1 {
  width: 33.33%;
}
.information-col-3 p,
.information-col-2 p,
.information-col-1 p {
  padding: 10px 0;
  border-bottom: 1px solid #a3a3a2;
  font-weight: 600;
}
.information-col-3 p span,
.information-col-2 p span,
.information-col-1 p span {
  margin-left: 5px;
  font-weight: 300;
  color: #fa5036;
  font-weight: 400;
}
.information-col-2 {
  margin: 0 15px;
}

.information-col-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.skill-js,
.skill-html,
.skill-css {
  display: flex;
  justify-content: space-between;
}
.scroll-js,
.scroll-html,
.scroll-css {
  width: 100%;
  height: 10px;
  border: 1px solid;
  border-radius: 20px;
  background-color: #fffafa;
  color: #dddddd;
}
.scroll-background-js {
  animation-name: scroll-background-js;
  animation-duration: 3s;
  position: relative;
  animation: scroll-background-js 1s ease forwards;
}
@keyframes scroll-background-js {
  0% {
    width: 0px;
    height: 100%;
    background-color: #ee3519;
  }
  100% {
    width: 40%;
    height: 100%;
    border-radius: 20px;
    background-color: #ee3519;
  }
}
.scroll-background-html {
  animation-name: scroll-background-html;
  animation-duration: 3s;
  position: relative;
  animation: scroll-background-html 1s ease forwards;
}
@keyframes scroll-background-html {
  0% {
    width: 0px;
    height: 100%;
    background-color: #ee3519;
  }
  100% {
    width: 75%;
    height: 100%;
    border-radius: 20px;
    background-color: #ee3519;
  }
}
.scroll-background-css {
  animation-name: scroll-background-css;
  animation-duration: 3s;
  position: relative;
  animation: scroll-background-css 1s ease forwards;
}
@keyframes scroll-background-css {
  0% {
    width: 0px;
    height: 100%;
    background-color: #ee3519;
  }
  100% {
    width: 55%;
    height: 100%;
    border-radius: 20px;
    background-color: #ee3519;
  }
}

.scroll-background-css {
  width: 60%;
  height: 100%;
  border-radius: 20px;
  background-color: #ee3519;
}
/* học vấn */
.education {
  display: flex;
}
.about-coll-1 {
  width: 50%;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}
.about-coll-2 {
  margin-left: 10px;
  width: 50%;
  display: flex;
  flex-direction: column;
}
.before-18,
.after-18 {
  margin-bottom: 20px;
}
.about-text-card-1,
.about-text-card-2 {
  flex: 1;
  line-height: 1.5;
  background-color: #ffff;
  border-radius: 20px;
  padding: 30px 30px;
  -webkit-box-shadow: 0px 0px 9px -1px rgba(0, 0, 0, 0.62);
  box-shadow: 0px 0px 9px -1px rgba(0, 0, 0, 0.62);
}
.about-time i {
  margin-right: 10px;
}
.elementary,
.university {
  margin: 10px 0 40px 0;
}
.elementary h3,
.university h3 {
  margin-bottom: 15px;
}
.elementary p,
.university p {
  font-weight: lighter;
  font-size: large;
}
/* project */
.project {
  margin-bottom: 50px;
}
.project-text {
  margin-bottom: 20px;
  font-weight: 600;
}
.project-text h2 {
  font-weight: 600;
  color: #ffff;
}

.project-card {
  display: flex;
  width: 100%;
  margin-bottom: 50px;
  justify-content: space-between;
}
.avahome,
.italia,
.portfolio {
  width: 33, 33%;
  height: 200px;
  overflow: hidden;
  border: 1px solid #d8d1d0;
  position: relative;
  display: inline-block;
  border-radius: 20px;
}
.italia {
  margin: 0 15px;
}
.avahome img,
.italia img,
.portfolio img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
}
.avahome img,
.italia img,
.portfolio img:hover {
  transform: scale(1.1);
}
.project-hover {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.project-hover span {
  padding: 5px;
  margin: auto;
  width: 25%;
  border-radius: 20px;
  background-color: #f05941;
  display: block;
  color: #fff;
  text-align: center;
}
.project-hover span:hover {
  background-color: #be2412;
}
.project-hover span a {
  color: #fff;
}
.project-hover h3 {
  margin: 20px;
}

.avahome:hover .project-hover,
.italia:hover .project-hover,
.portfolio:hover .project-hover {
  opacity: 1;
}
/* timeline */
.challenge h2 {
  font-weight: 600;
  color: #fff;
}
.timeline-container {
  width: 100%;
  margin: 20px auto;
  position: relative;
}
.line-middle {
  width: 5px;
  height: 100%;
  background-color: #ffff;
  position: absolute;
  left: 50%;
}
.circle-line-middle {
  position: absolute;
  height: 100%;
  left: 49.2%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.circle-timeline {
  width: 20px;
  height: 20px;
  background: #ffff;
  border-radius: 50%;
}
.timeline {
  position: relative;
  width: 100%;
}
.text-box {
  border: 1px solid #dddddd;
  padding: 10px 20px;
  position: relative;
  border-radius: 15px;
  font-size: 15px;
  color: #ffff;
}
.timeline-box {
  width: 50%;
  height: 50%;
  padding: 10px 30px;
  position: relative;
  font-weight: 400;
  transition: all 0.5s ease-in-out;
}
.timline-box h2,
.timline-box h3 {
  font-weight: 400;
}
.left-timeline {
  left: 0;
}
.right-timeline {
  left: 50%;
}
.circle-left {
  width: 20px;
  height: 20px;
  background: #f05941;
  border-radius: 50%;
  position: absolute;
  right: -13px;
  top: 50%;
  z-index: 10;
}
.circle-right {
  width: 20px;
  height: 20px;
  background: #f05941;
  border-radius: 50%;
  position: absolute;
  left: -7px;
  top: 50%;
  z-index: 10;
}

/* social */
.social {
  margin-bottom: 50px;
}
.social h2 {
  margin-bottom: 20px;
  font-weight: 600;
  color: #ffff;
}
.social-card {
  display: flex;
}
.social-yt,
.social-fb,
.social-email {
  flex: 1;
  width: 30%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 9px -1px rgba(0, 0, 0, 0.62);
  box-shadow: 0px 0px 9px -1px rgba(0, 0, 0, 0.62);
  border-radius: 20px;
  cursor: pointer;
}
.social-yt {
  margin: 0 20px;
}
.social-fb i,
.social-yt i,
.social-email i {
  font-size: 40px;
  margin-bottom: 20px;
}
.social-fb h3,
.social-yt h3,
.social-email h3 {
  margin: 20px 0;
  font-weight: 600;
}
.social-fb p,
.social-yt p,
.social-email p {
  font-weight: 600;
}
.social-fb p span,
.social-yt p span,
.social-email span {
  color: #f05941;
  display: block;
}

/* contact */
.contact {
  display: flex;
  flex-direction: column;
}
.contact-row {
  width: 100%;
  display: flex;
}
.contact h2 {
  margin-bottom: 20px;
  font-weight: 600;
  color: #ffff;
}
.card-visit {
  margin-right: 20px;
  width: 60%;
  height: 60%;
  padding: 10px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 9px -1px rgba(0, 0, 0, 0.62);
  box-shadow: 0px 0px 9px -1px rgba(0, 0, 0, 0.62);
}
.card-visit-inner {
  margin-bottom: 50px;
}
.logo-card-visit {
  width: 30%;
}
.logo-card-visit img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.contact-name {
  width: 100%;
  text-align: center;
  margin: 20px 0;
}
.contact-name h4 {
  font-family: "Dancing Script", cursive;
  font-size: 30px;
}
.card-icon {
  margin: 10px 0;
  padding: 0 10px;
}
.card-icon i {
  margin: 0 10px;
}
/* background-svg */
.custom-shape-divider-bottom-1700673281 {
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1700673281 svg {
  position: relative;
  display: block;
  width: calc(119% + 1.3px);
}

.custom-shape-divider-bottom-1700673281 .shape-fill {
  fill: #f05941;
  opacity: 0.7;
}

.send-mail {
  padding: 10px;
  width: 40%;
  border-radius: 20px;
}
.send-mail h3 {
  width: 100%;
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
}
.input {
  margin-top: 10px;
  width: 100%;
}
.input-row-1 {
  display: flex;
}
.name-input,
.email-input {
  width: 50%;
}
.email-input {
  margin-left: 20px;
}
.name-input input,
.email-input input,
.title-input input {
  width: 100%;
  display: block;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #e1dede;
  background-color: #fff;
}
.input-row-2 {
  margin: 30px 0;
}
.title-input {
  width: 100%;
}
.title-input input {
  width: 100%;
}
.input-row-3 {
  width: 100%;
}
.message-input {
  width: 100%;
}
.message-input textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #e1dede;
}
.send-button {
  width: 30%;
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 30px;
  background-color: #f05941;
  cursor: pointer;
}
.send-button:hover {
  background-color: #e0391f;
}
.send-button span {
  width: 100%;
  text-align: center;
  display: block;
  color: #fff;
}
/* back to top */
.back-to-top {
  position: fixed;
  display: none;
  right: 2%;
  bottom: 25%;
  border-radius: 50%;
  padding: 20px;
  background-color: rgba(252, 252, 252, 0.5);
  cursor: pointer;
}
.back-to-top:hover {
  background-color: rgba(146, 139, 139, 0.5);
}
.back-to-top i {
  width: 100%;
  height: 100%;
  font-size: xx-large;
}

/* footer */
.footer {
  width: 100%;
  border-top: 1px solid #cac3c3;
  padding: 10px;
}
.footer-icon {
  width: 100%;
  text-align: center;
  padding: 10px;
}
.footer-icon i {
  margin: 10px;
}

.footer-logo {
  width: 100%;
}
.footer-logo span {
  display: block;
  text-align: center;
  width: 100%;
}

/* scroll animate */
.active {
  transform: none;
  visibility: visible;
  opacity: 1;
}

.timeline-box:nth-child(odd) {
  margin-left: -120px;
}

.timeline-box:nth-child(even) {
  margin-left: 120px;
}

.active:nth-child(odd) {
  transform: translate3d(120px, 0, 0);
}

.active:nth-child(even) {
  transform: translate3d(-120px, 0, 0);
}
